
<html>
    <head></head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    
         <link rel="stylesheet" type="text/css" href="stylesheets/footer.css">
    </head>


<!-- footer section starts  -->
<hr style="height:150px;color:black;">
<section class="footer" >
<div class="container">
    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a href="/">home</a>
            <a href="/aboutus">about</a>
            <a href="/search">products</a>
            
            <a href="/">contact</a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="#">my account</a>
            <a href="#">my order</a>
            <a href="#">my favorite</a>
        </div>

        <div class="box">
            <h3>locations</h3>
            <a href="#">Maleshwaram</a>
            <a href="#">Jayanagar</a>
            <a href="#">HSR Layout</a>
            <a href="#">Rajajinagar</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#">+123-456-7890</a>
            <a href="#">med247@gmail.com</a>
            <a href="#">Karnataka, india - 400104</a>
            <img src="images/payment.png" alt="">
        </div>

    </div>

    <div class="credit" > created by <span> Ms Theju And Nimi </span> | all rights reserved </div>
</div>
</section>


<!-- footer section ends -->
</html>