
<html>
    <head>
        <style>
            .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .footer .box-container .box{
    flex:1 1 25rem;
  }
  
  .footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
  }
  
  .footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
  }
  
  .footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
  }
  
  .footer .box-container .box  img{
    margin-top: 1rem;
  }
  
  .footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
  }
  
  .footer .credit span{
    color:var(--pink);
  }
  
  
  
  
        </style>
    </head>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Log In</h1></br>
        {{#if hasErrors}}
        <div class="alert alert-danger">
            {{# each messages }}
            <p>{{this}}</p>
            {{/each}}
        </div>
        {{/if}}
        <form action="/user/signin" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="Ex. john@gmail.com">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter your Password">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
        </br>
        <p>Not registered yet? <a href="/user/signup">Create your account</a></p>
    </div>
</div>
</html>